--
-- PostgreSQL database dump
--

\restrict G9NhESbbU465gZa6c3uZN8Rngfd9d3uEUS29vLZtmA0mZOXlLxN4XUh3dsoqcIh

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: chat_app; Type: SCHEMA; Schema: -; Owner: chat_app
--

CREATE SCHEMA chat_app;


ALTER SCHEMA chat_app OWNER TO chat_app;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: language_configurations; Type: TABLE; Schema: chat_app; Owner: chat_app
--

CREATE TABLE chat_app.language_configurations (
    language_id uuid DEFAULT gen_random_uuid() NOT NULL,
    language_code character varying(200) NOT NULL,
    language_name character varying(200) NOT NULL,
    native_name character varying(200) NOT NULL,
    script character varying(50) NOT NULL,
    variant character varying(50),
    is_standard_language boolean DEFAULT true NOT NULL,
    is_user_selectable boolean DEFAULT true NOT NULL,
    is_translation_supported boolean DEFAULT true NOT NULL,
    status character varying(200) DEFAULT 'ACTIVE'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_language_status CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE chat_app.language_configurations OWNER TO chat_app;

--
-- Data for Name: language_configurations; Type: TABLE DATA; Schema: chat_app; Owner: chat_app
--



--
-- Name: language_configurations language_configurations_pkey; Type: CONSTRAINT; Schema: chat_app; Owner: chat_app
--

ALTER TABLE ONLY chat_app.language_configurations
    ADD CONSTRAINT language_configurations_pkey PRIMARY KEY (language_id);


--
-- Name: language_configurations uq_language_configuration; Type: CONSTRAINT; Schema: chat_app; Owner: chat_app
--

ALTER TABLE ONLY chat_app.language_configurations
    ADD CONSTRAINT uq_language_configuration UNIQUE (language_code, script, variant);


--
-- PostgreSQL database dump complete
--

\unrestrict G9NhESbbU465gZa6c3uZN8Rngfd9d3uEUS29vLZtmA0mZOXlLxN4XUh3dsoqcIh

